<h3>Schematics</h3>
<p>AngularのSchematicsという仕組みで、いくつかのコンポーネント雛形が提供されている。</p>

<div class="myapp-code-example">
<pre>
# 普通に空のコンポーネントを生成する場合
$ ng generate component &lt;出力先&gt;

# Angular Materialのコンポーネント雛形を生成する場合
$ ng generate @angular/material:&lt;Schematic名&gt; &lt;出力先&gt;
</pre>
</div>

<p>以下、提供されている雛形をそれぞれ説明する。</p>

<hr>
<h4>navigation</h4>
<p>画面上部のバーと左側メニューの雛形。このサンプルそのものを作成するのに使用した。</p>

<hr>
<h4>address-form</h4>
<p>配送先入力フォーム。</p>
<myapp-address-form class="myapp-schematics"></myapp-address-form>

<hr>
<h4>dashboard</h4>
<p>画像を並べて表示する。</p>
<myapp-dashboard class="myapp-schematics"></myapp-dashboard>

<hr>
<h4>table</h4>
<p>ソートとページング機能を持つテーブル。</p>
<myapp-table class="myapp-schematics"></myapp-table>

<hr>
<h4>tree</h4>
<p>ディレクトリ等のツリー構造を表現する。</p>
<myapp-tree class="myapp-schematics"></myapp-tree>
