<mdc-drawer drawer="modal" [open]="isDrawerOpened"
            (opened)="isDrawerOpened = true;" (closed)="isDrawerOpened = false;">
  <mdc-drawer-header>
    <h3 mdcDrawerTitle>メニュー</h3>
  </mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list (click)="toggleDrawer()">
      <mdc-list-item routerLink="/top">トップ</mdc-list-item>
      <mdc-list-item routerLink="/top-app-bar">Top App bar</mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>

<mdc-top-app-bar
    [fixed]="s.fixed" [short]="s.short" [scrollTarget]="s.fixed && content"
    [dense]="s.dense" [prominent]="s.prominent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section [align]="'start'" [title]="title">
      <button mdcTopAppBarNavIcon (click)="toggleDrawer()">
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<div #content mdcTopAppBarFixedAdjust class="myapp-main-content">
  <router-outlet></router-outlet>
</div>
