.myapp-schematic-examples {
  display: block;
  overflow: auto;
  width: 100%;
  border: solid grey 1px;
}

myapp-address-form {
  height: 300px;
}

myapp-dashboard {
  height: 300px;
}

myapp-tree {
  height: 300px;
}
